/*
 * TODO: page needs a gradient from white (top) to light gray (bottom)
 * TODO: On narrow screens the background shouldn't scroll when detail overlay is shown
 */

input[class*="add-event-form"] {
    font-size: 1vw;
    text-align: left;
}
textarea[class*="add-event-form"] {
    font-size: 1vw;
}

@media (max-width: 50rem) {
    input[class*="add-event-form"] {
        font-size: 3vw;
        text-align: left;
    }
    textarea[class*="add-event-form"] {
        font-size: 2vw;
    }
}
.add-event-form {
    flex: 1 1 100;
    display: flex;
    width: 100vw;
    justify-content: center;
}
.add-event-form__title {
    text-align: center;
    padding-bottom: 1vh;
}
.add-event-form__text-container {
    flex: 1 1 50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 14vh;
}
.add-event-form__date-container {
    flex: 1 1 50;
    display: flex;
    flex-direction: column;
    height: 14vh;
    padding-left: 1vw;
}
.add-event-form__description {
    flex: 1 1 50;
    min-width: 20vw;
    min-height: 10vh;
}
.add-event-form__date {
    flex: 1 1 25;
}
.add-event-form__startHour {
    flex: 1 1 25;
}
.add-event-form__color-picker {
    flex: 1 1 25;
}
.add-event-form__button {
    flex: 1 1 25;
    height: 2vh;
    margin-top: 2vh;
}
